<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Assistant:wght@200..800&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <%- include('partials/taskbar') %>
    <div class="home-container">
        <h1 class="amiri-bold home-header hide">Your Books, Your Notes</h1>
        <p class="amiri-regular hide">Whether reading for fun or for school it's always good to collect your thoughts.<br/>
        Search for your favorite books from the OpenLibrary catalogue and start taking your chapter notes now.<br/>
        Leave a rating so you can remember which books are worth rereading and forget those that aren't
        </p>
    </div>
    <script src="/js/taskbar.js"></script>
</body>
</html>