<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="login-register-container">
        <h1>Book Notes</h1>
        <label for="login-email">Email</label>
        <input type="text" name="email" id="login-email">
        <label for="login-password">Password</label>
        <input type="text" name="password" id="login-password">
        <button type="submit">Sign In</button>
    </div>
</body>
</html>