* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    height: auto;
    background-color:#FFF5E3;
}

#favorites-container{
    padding-top: 150px;
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 150px;
    column-gap: 15px;
    row-gap: 30px;
    padding-top: 150px;
    padding-right: auto;
    padding-left: auto;
}

.favorite-result-card{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

.favorite-result-card > a{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none; 
  }
  
.favorite-result-card > a > *{
    line-height: var(--line-height-sm);
}

#favorites-container > .load-btn{
    grid-column: 1 / span 3;
    align-self: self-start;
    justify-self: center;
}

.btn-log{
    border: none;
    height: 32px;
    width: 128px;
    align-self: center;
    border-radius: 50px;
  }
  
  
